{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'address' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_show_one_by_id_list'|trans }}:</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>

                    <th class="text-center">{{ 'ref'|trans }}</th>
                    <th class="text-center">{{ 'surname'|trans }}</th>
                    <th class="text-center">{{ 'name'|trans }}</th>
                    <th class="text-center">{{ 'type_company'|trans }}</th>
                    <th class="text-center">{{ 'country'|trans }}</th>

                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% set type_company = adr.list_type_company %}
                {% set country = adr.list_country %}
                <tr>
                    <td class="text-left">{{ 1 }}</td>

                    <td class="text-center">{{ adr.ref }}</td>
                    <td class="text-center">{{ adr.surname }}</td>
                    <td class="text-center">{{ adr.name }}</td>
                    <td class="text-center">{{ attribute(type_company, local) }}</td>
                    <td class="text-center">{{ attribute(country, local) }}</td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="list-buttons text-right">
            <a class="btn btn-secondary" href="{{ url_for('adrs.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('adr.edit', {'id': adr.id}) }}" role="button">{{ 'Update'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('adr.remove', {'id': adr.id}) }}" role="button">{{ 'Remove'|trans }}</a>
        </div>

    </div>

{% endblock %}
