/* ---------- Sidebar ------------------------------------------------------------------------------------------------*/
/* The side navigation menu */
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    line-height: 1.9em;
}

/* The navigation menu links */
.sidenav a {
    padding-left: 1.4em;
    text-decoration: none;
    font-size: 1.1em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.a-sidenav-border-bottom:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    /*padding-top: 7px; !* This creates some space between the element and the border. *!*/
    border-bottom: 1px solid #0275d8; /* This creates the border. Replace black with whatever color you want. */
}



.sidenav a i {
    color: #0275d8;
}

/* When you mouse over the navigation links, change their color */
.a-sidenav:hover, .sub-sidenav a:hover {
    color: #f1f1f1;
    background-color: #0275d8;
}

.a-sidenav:hover > i {
    color: #111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

.fas {
    padding-right: 20px;
}

.sidenav-logo {
    position:absolute;
    bottom: 4em;
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 1.8em !important;
    font-weight: 900 !important;
    color: #f1f1f1 !important;
    display: block;
    transition: 0.3s;
}

.sidenav-logo:hover {
    color: #0275d8 !important;
    transition: 0.5s;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

