/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------ FORM ----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */


/* ----------------------------------------------- */
/* --------------------- H1 ---------------------- */
/* ----------------------------------------------- */

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* ----------------------------------------------- */
/* ---------------- FORM CONTENT ----------------- */
/* ----------------------------------------------- */

.form-content {
    display: flex;
    position: relative;
    width:1050px;
}
.form-subcontent-33 {
    position: relative;
    width:33%;
    padding: 0 15px 0 15px;
}
.form-subcontent-50 {
    position: relative;
    width:50%;
    padding: 0 15px 0 15px;
}

/* ----------------------------------------------- */
/* ----------------- FORM GROUP ------------------ */
/* ----------------------------------------------- */

.form-group {
    position: relative;
    height: 48px;
    width:100%;
    overflow: hidden;
}

.form-group-item {
    position: absolute;
    height: inherit;
    width:100%;
    left: 0;
    top: 0;
    background-color: transparent;
}

/* ----------------------------------------------- */
/* -------------------- INPUT -------------------- */
/* ----------------------------------------------- */

.form-group-input {
    border-bottom: 2px solid #fff;
    padding-top: 0;
    color: #fff;
    outline: none;
    font-size: 1.1em;
}

.form-group-label {
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    transition: all 0.5s ease;
}

.form-group-label > span {
    transform: translateY(0%);
    transition: transform 0.5s ease;
    margin-bottom: 7px;
    color: #fff;
    font-size: 1.1em;
}

.form-group-label::after {
    position: absolute;
    height: 2px;
    width: 110%;
    left: 0;
    bottom: 0;
    content: "";
    border-bottom: 2px solid #0275d8;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.form-group:focus-within .form-group-label > span,
.form-group-input:valid + .form-group-label > span {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    color: #0275d8;
}

.form-group:focus-within .form-group-label::after,
.form-group-input:valid + .form-group-label::after {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

/* ----------------------------------------------- */
/* -------------------- SELECT ------------------- */
/* ----------------------------------------------- */

.form-group-select {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    outline: none;
    flex: 1;
    border-bottom: 2px solid #0275d8;
    padding-top: 24px;
    color: #fff;
    outline: none;
    font-size: 1.1em;
    overflow: hidden;
    cursor: pointer;
}

.form-group-select option {
    background: #0275d8;
    height:40px !important;
    color: #fff;
    border: 0;
}

.form-group-select::-ms-expand {
    display:none;
}

.form-group-select:hover {
    color: #fff;
}

.select {
    display: flex;
}

.select::before {
    position: absolute;
    content: '\25BC';
    color: #0275d8;
    bottom:8px;
    right: 8px;
    cursor:pointer;
    pointer-events:none;
    transition:.5s all ease;
}

.select::after {
    position: absolute;
    height: 2px;
    width: 110%;
    left: 0;
    bottom: 0;
    content: "";
    border-bottom: 2px solid #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.select:hover label span{
    color: #fff;
}

.select:hover select{
    color: #0275d8;
}

.select:hover::after {
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

.select:hover::before{
    color: #fff;
}

.form-group-label-select {
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    transition: all 0.5s ease;
}

.form-group-label-select > span {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    margin-bottom: 7px;
    color: #0275d8;
    font-size: 1.1em;
}

/* ----------------------------------------------- */
/* ---------------- TABLE SELECT ----------------- */
/* ----------------------------------------------- */
.table-select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
      for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.table-select::-ms-expand {
    display: none;
}
/* Hover style */
.table-select:hover {
    border-color: #888;
}
/* Focus style */
.table-select:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

/* Set options to normal weight */
.table-select option {
    font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .table-select, :root:lang(ar) .table-select, :root:lang(iw) .table-select {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.table-select:disabled, .table-select[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.table-select:disabled:hover, .table-select[aria-disabled=true] {
    border-color: #aaa;
}

/* ----------------------------------------------- */
/* ---------------- FORM BUTTONS ----------------- */
/* ----------------------------------------------- */

.form-buttons {
    margin: 55px 0 55px 0;
}

/* ----------------------------------------------- */
/* ------------------- ALERTS -------------------- */
/* ----------------------------------------------- */

.validation-feedback {
    color: #ff0000;
}

.alert {
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.alert-danger {
    border: solid 1px #ff0000;
    color: #fff;
    background-color: #f83e3e;
}

.alert-warning {
    border: solid 1px #ff4800;
    color: #fff;
    background-color: #fa703a;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------ TABLE ----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
table{
    width:100%;
    table-layout: fixed;
}
.tbl-content{
    height:50vh;
    overflow-x:auto;
    margin-top: 0;
}

/*tbody tr:hover, tbody tr:hover a, tbody tr:hover a:visited{
    background-color: #0275d8;
    color: #b1b1b1;
}*/

th{
    padding: 1em 1em;
    font-weight: 900;
    font-size: 0.8em;
    color: #0275d8;
    text-transform: uppercase;
    border-bottom: solid 3px #0275d8;
}

.td-link, .td-link:visited {/* =================================================================== */
    text-transform: uppercase;
    font-weight: 600;
    color: #0275d8;
}

td{
    padding: 0;
    vertical-align:middle;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    /*border-bottom: solid 1px rgba(255, 255, 255, 0.5);*/
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}