h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
table{
    width:100%;
    table-layout: fixed;
}
.tbl-content{
    height:50vh;
    overflow-x:auto;
    margin-top: 0;
}

tbody tr:hover, tbody tr:hover a, tbody tr:hover a:visited{
    background-color: #0275d8;
    color: #b1b1b1;
}

th{
    padding: 1em 1em;
    font-weight: 900;
    font-size: 0.8em;
    color: #0275d8;
    text-transform: uppercase;
    border-bottom: solid 3px #0275d8;
}

.td-link, .td-link:visited {/* =================================================================== */
    text-transform: uppercase;
    font-weight: 600;
    color: #0275d8;
}

td{
    padding: 0.5em 1em;
    vertical-align:middle;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.list-buttons{
    margin: 55px 0 55px 0;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}